<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jude.know">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="MODEL"
            android:value="
            com.jude.know.model.QuestionModel,
            com.jude.know.model.AccountModel,
            com.jude.know.model.RemoteFileModel
            "
            />
        <activity
            android:name=".view.QuestionActivity"
            android:label="Know">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".view.WriteQuestionActivity"
            android:label="提问"></activity>
        <activity android:name=".view.AnswerActivity"
            android:label="问题"></activity>
        <activity android:name=".view.WriteAnswerActivity"
            android:label="回答"></activity>
    </application>

</manifest>
